<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Civillaw.ai</title>
</head>
<body>
    {% extends "civillaw_main/base.html" %}
    

    {% block content %}
        Clientes:
        <ul>
            {% for cliente in clientes %}
            <li>
                {{ cliente }}
            </li>
            {% empty %}
            <li>
                Não há cientes cadastrados
            </li>
            {% endfor %}
        </ul>
    {% endblock content%}
    
</body>
</html>